//variable 

// Color jaune cuivré:
$jaune: #f7a139;

// Color soie clair:
$soie: #bdb198  ;

// Color neutre clair:
$neutre: #f1f0ef  ;

// Color gris moyen:
$gris: #4b4b4b  ;

// Color noir:
$noir: black  ;

