/* HEADER */
header{
  color: white;
  .logo{
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 3;
    img{
      width: 140px;
    }
  }
  .burger-onglet{
    position: fixed;
    top: 0;
    right: 0px;
    padding-right: 30px;
    z-index: 4;
    display: flex;
    align-items: center;
    cursor: pointer;
    p{
      text-transform: uppercase;
      margin-right: 30px;
      font-size: 1.1em;
    }
    .burger{
      width: 22px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span{
        height: 2px;
        width: 100%;
        background: white;
        transition: .3s all ease-in-out;
      }
    }
    &.bg-black{
      background: rgba($color: black, $alpha: .8);
      padding-left: 30px;
      border-bottom-left-radius: 7px;
    }
  }
  .tel{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    p{
      text-transform: uppercase;
      margin: 8px 0 4px 0;
      color: $soie;
      font-weight: 500;
    }
    a{
      color: white;
      font-weight: 400;
    }
  }
}
/* MENU BURGER */
.menu{
  width: 30vw;
  height: 100vh;
  background: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  right: -100vw;
  transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  &.active{
    right: 0;
  }
}
.burger.active :nth-child(1n){
  transform: rotate(45deg) translateY(9px);
}
.burger.active :nth-child(2n){
  opacity: 0;
  width: 0;
}
.burger.active :nth-child(3n){
  transform: rotate(-45deg) translateY(-13px) translateX(4px);
}
.text-onglet.hidden{
  opacity: 0;
  transition: .3s all ease-in-out;
}
/* MENU DÉROULÉ */
.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px; 
  z-index: 3;
  nav{
    margin-bottom: 15%;
    a{
      line-height: 2.5em;
    }
  }
  hr{
    border: .5px solid white;
    width: 100%;
  }
  .menu-contact{
    h4{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1em;
      color: $jaune;
      margin-bottom: 10px;
    }
    div p{
      font-size: 1em;
      font-weight: 300;
      line-height: 1.7em;
      margin-top: 0;
      a{
        color: white;
        font-weight: 300;
        transition: .1s all ease-in-out;
        &:hover{
          color: #ffd7a7;
        }
      }
    }
  }
  .uppercase{
    text-transform: uppercase;
  }
  .fab{
    font-size: 1.6em;
    color: white;
    margin-right: 5px;
  }
}
body.background{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background: rgba($color: black, $alpha: .6);
    z-index: 1;
    width: 100vw;
    height: 100%;
    transition: .3s all ease-in-out;
  }

}

/* HEAD BACKGROUND HOMEPAGE */
.head-bg{
  width: 100vw;
  height: 100vh;
  // background: url('/img/EXTERIOR1.jpg') center/cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background: rgba($color: black, $alpha: .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .head-button{
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 38px;
    div{
      padding: 30px 40px;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 600;
      letter-spacing: 1px;
      background: rgba($color: white, $alpha: .7);
      transition: .3s all ease-in-out;
      &:hover{
        background: $neutre;
        a{
          color: black;
        }
      }
    }
    .right{
      border-left: 1px solid rgb(255, 255, 255);
      border-top-right-radius: 38px;
      border-bottom-right-radius: 38px;
    }
    .left{
      border-top-left-radius: 38px;
      border-bottom-left-radius: 38px;
    }
  }
}

// swiper index
.swiper-container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  .swiper-slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    background: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{
      min-width: 100vw;
    }
  }
}




@media screen and (max-width:1100px){
  .menu{
    width: 50%;
  }
}
@media screen and (max-width:700px){
  .menu{
    width: 100%;
  }
  header .logo img{
    width: 120px;
  }

}